theos/
.theos/
*.deb
obj/
Packages/
_/
.theos/packages
.theos/packages/*
.theos/packages/com.cortexdevteam.internal.nighthawk-0.0.1

*.xcworkspace
*.sublime-project
*.sublime-workspace
Packages/Prefs/.theos/obj/arm64/StratosPrefs.bundle/StratosPrefs
