Package: com.cortexdevteam.stratos
Name: Stratos
Description: A multitasking manager for iOS that reworks the existing Control Center
Version: 1.0.0
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader
Maintainer: CortexDevTeam
Author: CortexDevTeam
Section: Tweaks
Depiction: http://lamo.duckdns.org/stratosbetarepo/depiction.php