<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>THE_DEVELOPERS</string>
			<key>labelEnglish</key>
			<string>The Developers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>StratosDevCell</string>
			<key>height</key>
			<string>100</string>
			<key>devName</key>
			<string>Cortex Dev Team</string>
			<key>jobTitle</key>
			<string>THE_TEAM</string>
			<key>jobTitleEnglish</key>
			<string>The Team</string>
			<key>subtitleEnglish</key>
			<string>Help</string>
			<key>subtitle</key>
			<string>TEAM_SUBTITLE</string>
			<key>imageName</key>
			<string>cortex</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>handle</key>
			<string>@CortexDevTeam</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit:</string>
			<key>handle</key>
			<string>/u/CortexDevTeam</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>StratosDevCell</string>
			<key>height</key>
			<string>100</string>
			<key>devName</key>
			<string>Ethan Arbuckle</string>
			<key>jobTitle</key>
			<string>ETHAN_TITLE</string>
			<key>subtitle</key>
			<string>ETHAN_SUBTITLE</string>
			<key>jobTitleEnglish</key>
			<string>Head Developer</string>
			<key>subtitleEnglish</key>
			<string>The heart and soul of Stratos</string>
			<key>imageName</key>
			<string>ethan</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>handle</key>
			<string>@its_not_herpes</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit:</string>
			<key>handle</key>
			<string>/u/its_not_herpes</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>StratosDevCell</string>
			<key>height</key>
			<string>100</string>
			<key>devName</key>
			<string>Milo Darling</string>
			<key>jobTitle</key>
			<string>MILO_TITLE</string>
			<key>subtitle</key>
			<string>MILO_SUBTITLE</string>
			<key>jobTitleEnglish</key>
			<string>Co-developer</string>
			<key>subtitleEnglish</key>
			<string>Created the preference bundle</string>
			<key>imageName</key>
			<string>milo</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>handle</key>
			<string>@JamesIscNeutron</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit:</string>
			<key>handle</key>
			<string>/u/James-Isaac-Neutron</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>StratosDevCell</string>
			<key>height</key>
			<string>100</string>
			<key>devName</key>
			<string>Cyril Zakka</string>
			<key>jobTitle</key>
			<string>CYRIL_TITLE</string>
			<key>subtitle</key>
			<string>CYRIL_SUBTITLE</string>
			<key>jobTitleEnglish</key>
			<string>Designer</string>
			<key>subtitleEnglish</key>
			<string>Also known as Cereal</string>
			<key>imageName</key>
			<string>cyril</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>handle</key>
			<string>@4urum</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit:</string>
			<key>handle</key>
			<string>/u/Does-Aurum-Have-Reddit?</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSG</string>
			<key>cellClass</key>
			<string>StratosDevCell</string>
			<key>height</key>
			<string>100</string>
			<key>devName</key>
			<string>Phillip Tennen</string>
			<key>jobTitle</key>
			<string>PHILLIP_TITLE</string>
			<key>subtitle</key>
			<string>PHILLIP_SUBTITLE</string>
			<key>jobTitleEnglish</key>
			<string>Co-developer</string>
			<key>subtitleEnglish</key>
			<string>Made two _very_ important commits</string>
			<key>imageName</key>
			<string>phillip</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>handle</key>
			<string>@phillipten</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit:</string>
			<key>handle</key>
			<string>/u/Codyd51</string>
			<key>cellClass</key>
			<string>StratosSocialCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Translators and people who helped out</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Thanks</string>
			<key>detail</key>
			<string>StratosThanksController</string>
			<key>cellClass</key>
			<string>StratosTintedCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>MIX_TAPE_FOOTER</string>
			<key>footerTextEnglish</key>
			<string>© 2014-2015 Cortex Dev Team. Mix tape coming February</string>
		</dict>
	</array>
	<key>title</key>
	<string>Credits</string>
</dict>
</plist>